<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPCA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="./output.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Dados IPCA</h1>
    <table>
        <thead>
            <tr>
                <th>Indicador</th>
                <th>Data</th>
                <th>Mediana</th>
                <th>Data Referência</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry.Indicador }}</td>
                <td>{{ entry.Data }}</td>
                <td>{{ entry.Mediana }}</td>
                <td>{{ entry['Data Referência'] }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
